/src/**/[Bb]in
/src/**/[Oo]bj
/src/**/node_modules
/src/**/wwwroot/assets
/tests/**/[Bb]in
/tests/**/[Oo]bj
/tests/**/node_modules
/tests/**/wwwroot/assets
/publish
/publish-sdk
/config/appsettings.workspace.json
/logs
/storage

*.sln.*
*.suo*
*.user
.vs
.vscode
*.lock.json
